extends layout

block content

  h1= title

  each topic in context.topics
    h2= topic.title
    h3= topic.dateCreated
    h3= topic.username

    each post in topic.posts
      p= post.body
      p= post.date
      p= post.username

