extends layout

block content

  div(class='wrap')
    h1= title
    each post in posts
      div(class='post')
        p(class='username') #{post.username}
        p(class='date') #{post.date}
        p(class='body') #{post.body}

    - var newPostUrl = '/new-post?id=' + _id
    
    div(class='button-container')

      div(class='button')
        a(href=newPostUrl) reply

      div(class='button')
        a(href='/') home