extends layout

block content

  h1= title
  each post in posts
    p(class='username') #{post.username}
    p(class='date') #{post.date}
    p(class='body') #{post.body}

  - var newPostUrl = '/new-post?id=' + _id
  a(href=newPostUrl) reply

  br

  a(href='/') home